<app-dane-wstepne (onRozpPlyty)="przypiszDoModelu('rozpPlyty', $event)" (onRozpZebra)="przypiszDoModelu('rozpZebra', $event)"
    (onKlasaB)="przypiszDoModelu('fck', $event)" (onFctm)="przypiszDoModelu('fctm', $event)" (onGatunekS)="przypiszDoModelu('fyk', $event)">
</app-dane-wstepne>

<app-geometria-stropu [rozpPlyty]="model.rozpPlyty" [rozpZebra]="model.rozpZebra" (onHz)="przypiszDoModelu('hz',$event)"
    (onHp)="przypiszDoModelu('hp',$event)" (onHzMin)="przypiszDoModelu('hz_min',$event)" (onHzMax)="przypiszDoModelu('hz_max',$event)"
    (onHpMin)="przypiszDoModelu('hp_min',$event)" (onHpMax)="przypiszDoModelu('hp_max',$event)" (onBz)="przypiszDoModelu('bz',$event)"
    (onBzMin)="przypiszDoModelu('bz_min',$event)" (onBzMax)="przypiszDoModelu('bz_max',$event)">
</app-geometria-stropu>

<app-otulina-minimalna [hp]="model.hp" [c_dev]="model.c_dev" [bz]="model.bz" [rozpPlyty]="model.rozpPlyty" (onCMin)="przypiszDoModelu('c_min',$event)"
    (onCNom)="przypiszDoModelu('c_nom',$event)" (onDp)="przypiszDoModelu('dp',$event)" (onLeff)="przypiszDoModelu('l_eff', $event)"></app-otulina-minimalna>

<app-obwiednie [l_eff]="model.l_eff" (onMMaxPrzeslo1)="przypiszDoModelu('mMaxPrzeslo1', $event)" (onMMaxPodporaB)="przypiszDoModelu('mMaxPodporaB', $event)"
    (onMMaxPrzeslo2)="przypiszDoModelu('mMaxPrzeslo2', $event)" (onMMaxPodporaC)="przypiszDoModelu('mMaxPodporaC', $event)" (onMMaxPrzeslo3)="przypiszDoModelu('mMaxPrzeslo3', $event)"
    (onMMinPrzeslo1)="przypiszDoModelu('mMinPrzeslo1', $event)" (onMMinPodporaB)="przypiszDoModelu('mMinPodporaB', $event)" (onMMinPrzeslo2)="przypiszDoModelu('mMinPrzeslo2', $event)"
    (onMMinPodporaC)="przypiszDoModelu('mMinPodporaC', $event)" (onMMinPrzeslo3)="przypiszDoModelu('mMinPrzeslo3', $event)" (onSMaxPodporaA)="przypiszDoModelu('sMaxPodporaA', $event)"
    (onSMaxPodporaBL)="przypiszDoModelu('sMaxPodporaBL', $event)" (onSMaxPodporaBP)="przypiszDoModelu('sMaxPodporaBP', $event)"
    (onSMaxPodporaCL)="przypiszDoModelu('sMaxPodporaCL', $event)" (onSMaxPodporaCP)="przypiszDoModelu('sMaxPodporaCP', $event)"
    (onSMinPodporaA)="przypiszDoModelu('sMinPodporaA', $event)" (onSMinPodporaBL)="przypiszDoModelu('sMinPodporaBL', $event)"
    (onSMinPodporaBP)="przypiszDoModelu('sMinPodporaBP', $event)" (onSMinPodporaCL)="przypiszDoModelu('sMinPodporaCL', $event)"
    (onSMinPodporaCP)="przypiszDoModelu('sMinPodporaCP', $event)">
</app-obwiednie>

<app-wykres-momenty-zginajace [daneGorne]="[model.mMaxPrzeslo1, model.mMaxPodporaB, model.mMaxPrzeslo2, model.mMaxPodporaC, model.mMaxPrzeslo3]"
    [daneDolne]="[model.mMinPrzeslo1, model.mMinPodporaB, model.mMinPrzeslo2, model.mMinPodporaC, model.mMinPrzeslo3]">
</app-wykres-momenty-zginajace>

<app-wykres-sily-tnace [dane]="[model.sMaxPodporaA, model.sMaxPodporaBL, model.sMaxPodporaBP, model.sMaxPodporaCL, model.sMaxPodporaCP,
 -model.sMinPodporaCP, -model.sMinPodporaCL, -model.sMinPodporaBP, -model.sMinPodporaBL, -model.sMinPodporaA]">
</app-wykres-sily-tnace>

<app-zbrojenie [dp]="model.dp" [fctm]="model.fctm" [fyk]="model.fyk" [fck]="model.fck" [mMaxPrzeslo1]="model.mMaxPrzeslo1"
    [mMaxPodporaB]="model.mMaxPodporaB" [mMaxPrzeslo2]="model.mMaxPrzeslo2" [mMaxPodporaC]="model.mMaxPodporaC" [mMaxPrzeslo3]="model.mMaxPrzeslo3"
    [mMinPrzeslo1]="model.mMinPrzeslo1" [mMinPodporaB]="model.mMinPodporaB" [mMinPrzeslo2]="model.mMinPrzeslo2" [mMinPodporaC]="model.mMinPodporaC"
    [mMinPrzeslo3]="model.mMinPrzeslo3" (onZbrojenieMin)="przypiszDoModelu('zbrojenieMin', $event)" (onZbrojenieMax)="przypiszDoModelu('zbrojenieMax', $event)"
    (onZbrojenieDolne1)="przypiszDoModelu('zbrojenieDolne1', $event)">
</app-zbrojenie>