<app-dane-wstepne (onRozpPlyty)="przypiszDoModelu('rozpPlyty', $event)" (onRozpZebra)="przypiszDoModelu('rozpZebra', $event)"
    (onKlasaB)="przypiszDoModelu('fck', $event)" (onGatunekS)="przypiszDoModelu('fyk', $event)">
</app-dane-wstepne>

<app-geometria-stropu [rozpPlyty]="model.rozpPlyty" [rozpZebra]="model.rozpZebra" (onHz)="przypiszDoModelu('hz',$event)"
    (onHp)="przypiszDoModelu('hp',$event)" (onHzMin)="przypiszDoModelu('hz_min',$event)" (onHzMax)="przypiszDoModelu('hz_max',$event)"
    (onHpMin)="przypiszDoModelu('hp_min',$event)" (onHpMax)="przypiszDoModelu('hp_max',$event)" (onBz)="przypiszDoModelu('bz',$event)"
    (onBzMin)="przypiszDoModelu('bz_min',$event)" (onBzMax)="przypiszDoModelu('bz_max',$event)">
</app-geometria-stropu>

<app-otulina-minimalna [hp]="model.hp" [c_dev]="model.c_dev" [bz]="model.bz" [rozpPlyty]="model.rozpPlyty" (onCMin)="przypiszDoModelu('c_min',$event)"
    (onCNom)="przypiszDoModelu('c_nom',$event)" (onDp)="przypiszDoModelu('dp',$event)" (onLeff)="przypiszDoModelu('l_eff', $event)"></app-otulina-minimalna>

<app-obwiednie [l_eff]="model.l_eff" (onMMaxPrzeslo1)="przypiszDoModelu('mMaxPrzeslo1', $event)" (onMMaxPodporaB)="przypiszDoModelu('mMaxPodporaB', $event)"
    (onMMaxPrzeslo2)="przypiszDoModelu('mMaxPrzeslo2', $event)" (onMMaxPodporaC)="przypiszDoModelu('mMaxPodporaC', $event)" (onMMaxPrzeslo3)="przypiszDoModelu('mMaxPrzeslo3', $event)"
    (onMMinPrzeslo1)="przypiszDoModelu('mMinPrzeslo1', $event)" (onMMinPodporaB)="przypiszDoModelu('mMinPodporaB', $event)" (onMMinPrzeslo2)="przypiszDoModelu('mMinPrzeslo2', $event)"
    (onMMinPodporaC)="przypiszDoModelu('mMinPodporaC', $event)" (onMMinPrzeslo3)="przypiszDoModelu('mMinPrzeslo3', $event)" (onSMaxPodporaA)="przypiszDoModelu('sMaxPodporaA', $event)"
    (onSMaxPodporaBL)="przypiszDoModelu('sMaxPodporaBL', $event)" (onSMaxPodporaBP)="przypiszDoModelu('sMaxPodporaBP', $event)"
    (onSMaxPodporaCL)="przypiszDoModelu('sMaxPodporaCL', $event)" (onSMaxPodporaCP)="przypiszDoModelu('sMaxPodporaCP', $event)"
    (onSMinPodporaA)="przypiszDoModelu('sMinPodporaA', $event)" (onSMinPodporaBL)="przypiszDoModelu('sMinPodporaBL', $event)"
    (onSMinPodporaBP)="przypiszDoModelu('sMinPodporaBP', $event)" (onSMinPodporaCL)="przypiszDoModelu('sMinPodporaCL', $event)"
    (onSMinPodporaCP)="przypiszDoModelu('sMinPodporaCP', $event)">
</app-obwiednie>

<app-wykres-momenty-zginajace [daneGorne]="[model.mMaxPrzeslo1, model.mMaxPodporaB, model.mMaxPrzeslo2, model.mMaxPodporaC, model.mMaxPrzeslo3]"
    [daneDolne]="[model.mMinPrzeslo1, model.mMinPodporaB, model.mMinPrzeslo2, model.mMinPodporaC, model.mMinPrzeslo3]">
</app-wykres-momenty-zginajace>

<app-wykres-sily-tnace [dane]="[25.646, -19.333, 31.863, -13.143, 31.863, -15.627, 30.622, -15.334, 36.072, -11.424]"></app-wykres-sily-tnace>

