<header>
  <h3>Pole przekroju zbrojenia</h3>
</header>
<form>

  <div class="row">
    <div class="col-md-4 col-sm-12">
      <md-input-container class="full-width">
        <input type="number" mdInput placeholder="Minimalne pole przekroju zbrojenia [cm2]" [value]="_zbrojenieMin | formatNumber: 3" readonly/>
      </md-input-container>
    </div>

    <div class="col-md-4 col-sm-12">
      <md-input-container class="full-width">
        <input type="number" mdInput placeholder="Maksymalne pole przekroju zbrojenia [cm2]" [value]="_zbrojenieMax | formatNumber: 3"
          readonly/>
      </md-input-container>
    </div>

  </div>
</form>

<h3>Teoretyczne pole przekroju zbrojenia</h3>

<form>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <md-input-container class="full-width">
        <input type="number" mdInput placeholder="Zbrojenie dolne - przęsło 1 [cm2]" [value]="_zbrojenieDolne1 | formatNumber: 3" readonly/>
      </md-input-container>
    </div>
  </div>
</form>