<header>
    <h2>Zbrojenie minimalne</h2>
</header>
<form>
    <label> Zakładana średnica prętów zbrojenia głównego [mm]: </label>
    <input type="text" [(ngModel)]="model.fiG" name="fiG" /><br />

    <label> Minimalne zbrojenie ze względu na rozmiar kruszywa [mm]: </label>
    <input type="text" [(ngModel)]="model.c_min_b" name="c_min_b" /><br />

    <label> Minimalne zbrojenie ze względu na trwałość stali [mm]:</label>
    <input type="text" [(ngModel)]="model.c_min_dur" name="c_min_dur" /><br />
</form>
<p>Zbrojeie minimalne [mm]:</p>
{{model.c_min() | formatNumber:5}}
<br />
<p>Zbrojenie nominalne [mm]:</p>
{{model.c_nom() | formatNumber:5}}
<br />
<p>Wysokość użytkowa płyty [cm]:</p>
{{model.dp() | formatNumber:5}}
<br />