<header>
  <h3>Dane wstępne</h3>
</header>
<br />

<form>
  <md-select placeholder="Klasa betonu" [(ngModel)]="klasaBetonu" name="klasaBetonu" class="half-width">
    <md-option *ngFor="let klasa of klasy" [value]="klasa.id">{{ klasa.text }}</md-option>
  </md-select>
  <md-select placeholder="Gatunek stali" [(ngModel)]="gatunekStali" name="gatunekStali" class="half-width">
    <md-option *ngFor="let gatunek of gatunki" [value]="gatunek.id">{{ gatunek.text }}</md-option>
  </md-select>
  <md-input-container class="full-width">
    <input mdInput placeholder="Rozpiętość płyty [m]:" [(ngModel)]="rozpPlyty" name="rozpPlyty" (keyup)="emitPlyty()" />
  </md-input-container>
  <br />
  <md-input-container class="full-width">
    <input mdInput placeholder="Rozpiętość żebra [m]:" [(ngModel)]="rozpZebra" name="rozpZebra" (keyup)="emitZebra()" />
  </md-input-container>

</form>